{
  "extends": ["react-app"],
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
    "react/state-in-constructor": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "no-console": "off",
    "react/prop-types": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-unused-vars": "warn",
    "jsx-a11y/alt-text": "warn",
    "react/no-unused-state": "warn",
    "react/button-has-type": "warn",
    "react/no-unescaped-entities": "warn",
    "react/jsx-props-no-spreading": "off",
    "radix": "off"
  }
}
