/* Write your CSS here */
.back-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  height: 60px;
}
* {
  font-family: 'Bree Serif';
}
.head-box {
  display: flex;
  align-items: center;
  color: white;
  gap: 20px;
  margin-bottom: 30px;
}

.ul-list {
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: 40px;
  flex-wrap: wrap;
}
