/* Write your CSS here */
.latest-match-card {
  background-color: #1e293b;
  color: #9a9da1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
.compete-logo {
  height: 250px;
}
.team-head {
  font-size: 24px;
  margin-bottom: 30px;
}

.scores-card {
  text-align: right;
}
